* {
	box-sizing: border-box;
}

#imageSection {
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
}

#imageSection img {
	width: 400px;
}

#logo-image {
	display: flex;
	max-height: 400px;
	max-width: 20%;
	align-items: left;
}
