header {
	display: flex;
	max-height: 100px;
	background-color: #e9c46a;
	justify-content: flex-start;
}

body {
	background-color: #f4a261;
	font-family: Arial, Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
}

#imageSection {
	display: flex;
	border: 1px solid black;
}

#imageSection img {
	width: 33.3%;
	border: 1px solid black;
}

#logo-image {
	display: flex;
	max-height: 400px;
	object-fit: contain;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	color: #2a9d8f;
}

p,
h2 {
	color: #264653;
}

footer {
	display: flex;
	align-items: flex-end;
}

#resultsChart {
	max-width: 60%;
	max-height: 97%;
}
